[class*='col-'] {
	float: left;
	width: 100%;
	min-height: 1px;
}

@media only screen and (min-width: 64.063rem) {

	@for $i from 1 through $grid-columns {
		.col-#{$i} {
			width: 100% / $grid-columns * $i;
		}
	}

}