$grid-columns: 12;
$breakpoint-medium: "only screen and (min-width: 40.063)";

/* Colors */

$main-color-orange: #fd4500;
$main-color-light-gray: #aaaaaa;
$main-color-dark-gray: #5b5b5b;
$main-color-black: #000000;